<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MDEV</title>
</head>

<body>
    <header id="header">
        <div class="header-logo">
            <a href="#"><img src="/assets/" alt="CRM Logo"></a>
            <h1>MDEV</h1>
        </div>

        <ul class="menu">
            <li><a href="/home">All users</a></li>
            <li><a href="/home/add">New Users</a></li>
            <li><a href="/home/roles">Roles Managment</a></li>
            <li><a href="/home/logout">Logout</a></li>
        </ul>
    </header>
    <main class="container">
        <p></p>
        