* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration:none;
}

body, h1, h2, h3, h4, h5, h6, a, p, ol, ul, div, main, section, article, aside, header, footer {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: .2em 0;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 2.2em;
}

h2 { 
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

p {
    padding: .6em 0;
    text-align: justify;
}

blockquote > p {
    text-align: left;
    font-size: .9em;
}

ul {
    list-style: none;
}

/* MAIN */

main {
    width: 100%;
    max-width: 100%;
    font-size: 1.2em;
}

main ul {
    list-style: circle;
    margin: .5em 0;
}

main ul ul {
    padding-left: 2em;
}

main ul li { 
    margin-top: .2em;
    margin-left: 1.5em;
}

main ul li::before {
    content: "\2192";
    padding-right: 10px;
}

main ul li li::before {
    content: "\21E2";
}

main ol {
    padding-left: 1em;
    margin-top: .2em; 
} 

main ol li {
	list-style-type: decimal;
	margin-bottom: .2em;
    margin-top: .2em;
}

main ol li li {
	list-style-type: lower-alpha;
}

main img {
    display: block;
    margin: .5em auto;
    max-width: 100%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

main figure {
    display: block;
    max-width: 100%;
    margin: .5em auto;
    text-align: center;
}

th, td {
    padding: .3em;
    font-size: .8em;
}


section {
    
}

section header > p {
    font-size: .8em;
    font-style: italic;
}

article {
    margin: 0 auto;
}


@media (min-width: 960px) {
    main {
        font-size: 1.25em;
    }
}

@media (min-width: 1280px) {
    main {
        font-size: 1.3em;
    }
}

@media (min-width: 1600px) {
    main {
        font-size: 1.3em;
    }
}