:root {
    --header-height: 75px;
    --header-bg: #ccc;
}

#top {
    height: var(--header-height);
    background: var(--header-bg);
    overflow: hidden;
}

#top h1 > span {
    display: block;
    font-size: .5em;
}

#logo {
    align-items: flex-start;
    gap: .5em;
}

#logo img {
    width: var(--header-height);
    height: var(--header-height);
}

#menu-toggle {
    display: none;
}

#menu a {
    display:block;
    padding: 1em;
}

#menu a:hover {
    background-color: #FFFFFF33;
}

#menu li {
    position: relative;
    white-space: nowrap;
}

#menu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--header-bg);
}

#menu li:hover > ul {
    display: block;
    animation: menuHover 1s ease 1;
}

@media (max-width: 960px) {    

    #nav {
        flex-basis: 160px;
    }

    #menu {
        flex-direction: column;
        align-items: stretch;
        height: var(--header-height);
        text-align: center;
    }

    #menu a {
        padding: .2em;
    }
}


@keyframes menuHover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro article {
    background: #DDD;
}

.intro h2 {
    text-align: center;
    background: var(--header-bg);
}

.intro p {
    padding: 1em 2em;
    font-size: .8em;
}